{
  "extends": ["airbnb-base", "plugin:node/recommended", "plugin:jest/recommended"],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "plugins": [
    "node",
    "security"
  ],
  "rules": {
    "arrow-parens": "off",
    "class-methods-use-this": "off",
    "curly": ["error", "all"],
    "indent": ["error", 2, {
      "MemberExpression": 1,
      "SwitchCase": 1
    }],
    "implicit-arrow-linebreak": "off",
    "global-require": "off",
    "no-param-reassign": ["error", { "props": false }],
    "no-tabs": "off",
    "no-use-before-define": "off",
    "no-underscore-dangle": "off",
    "object-curly-newline": ["error", { "consistent": true }],
    "import/no-extraneous-dependencies": "off",
    "import/no-dynamic-require": "off",
    "security/detect-non-literal-require": "off",
    "security/detect-non-literal-fs-filename": "off"
  }
}
